<div class="card card-header">
<span class="text-right">
 <%= link_to '✖', [comment.post, comment],method: :delete, data:{confirm: 'Are you sure?' }%>
</span>
 <%= comment.commenter %>:<%= comment.body %>
</div>
