<h1>Posts#new</h1>
<p>Find me in app/views/posts/new.html.erb</p>
<div class="text-right mt-3">
<%= link_to 'Insert Category', categories_path,class:'btn btn-outline-primary' %>
</div>
<%= render 'form' %>
